dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
datetime
flake8
kaleido==0.1.0.post1
notify-py
numpy
pandas
plotly
pyautogui
pygetwindow
pynput
pytest-flake8
pytest-pylint
pytest-xdist
pytz
pywin32
pyyaml
requests
ruamel.yaml
shutil
soundcard
tables
urllib3