dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
datetime
numpy
pandas
plotly
pyautogui
pygetwindow
pynput
pytz
pywin32
pyyaml
ruamel.yaml
requests
tables
urllib3
pytest-flake8
pytest-pylint
flake8
pytest-xdist
notify-py
kaleido==0.1.0.post1
soundcard