body {
    color: rgb(203, 203, 203);
    z-index: 1;
    overflow-x: clip !important;
	background: linear-gradient(
        -45deg,
        rgb(30, 30, 30) 0%,
        rgb(30, 30, 30) 45%,
        rgb(45, 45, 45) 50%,
        rgb(30, 30, 30) 55%,
        rgb(30, 30, 30) 100%
    );
	background-size: 500% 400%;
	animation: background-gradient 3s ease infinite;
}
@keyframes background-gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
h4 {
    font-size: 15px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10px;
}
body::-webkit-scrollbar {
    width: 0em;
}
.DateInput_input, .DateInput_input_1 {
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
}
.date-button {
    background-color: rgb(43, 43, 43);
    border-color: white;
}
.modal-content {
    background-color: rgb(43, 43, 43);
    display: flex;
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.form-control {
    background-color: rgb(43, 43, 43);
    color: white;
}
.form-control:focus {
    background-color: rgb(43, 43, 43);
    color: white;
}
